body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sectionOne {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  overflow-x: 0;
  
}
.sectionOneQuote {
  height: 100vh;
  background-image: url(./img/first_section_hero.jpg);
  background-repeat: no-repeat;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: -140px;
  margin-left: 50px;
  position: absolute;
  left: 15px;
}
.sectionOneQuote p {
  color: white;
}
.logo2 {
  position: absolute;
  margin-bottom: -90px;
  margin-left: 300px;
}
.vectorCircle {
  position: absolute;
  margin-bottom: -670px;
  left: 0;
}
/*SECTION ONE FORM*/
.form-container {
  width: 710px;
}

.heading_text {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 50px;
}
.heading_text p {
  color: rgb(155, 153, 153);
}
.heading_text a {
  text-decoration: none;
  color: blue;
}
.heading_text a:hover {
  color: aqua;
  transition: 600ms ease;
}
.heading {
  height: 55px;
  display: flex;
  justify-content: end;
}
.middle_text {
  height: 300px;
  width: 400px;
  margin-left: 200px;
  margin-top: 100px;
  margin-right: 200px;
}
.middle_text p {
  color: rgb(155, 153, 153);
}
.middle_text_link1 {
  display: flex;
  justify-content: baseline;
  align-items: center;
  cursor: pointer;
  border: 1px solid rgb(68, 136, 254);
  gap: 20px;
  margin-right: 50px;
  padding-left: 15px;
  height: 90px;
  border-radius: 10px;
  background-color: rgb(212, 220, 244);
}
.middle_text_link1:hover {
  border: 3px solid rgb(68, 136, 254);
  border-radius: 10px;
}
.middle_text_link2 {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding-left: 15px;
  border: 1px rgba(0, 0, 0, 0.131) solid;
  width: 335px;
  height: 92px;
  border-radius: 15px;
  margin-top: 15px;
}
.middle_text_link2:hover {
  border: 3px solid rgb(68, 136, 254);
  border-radius: 10px;
}
/*SECTION TWO*/
.form_container_two {
  width: 710px;
}
.sectionTwo {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  overflow-x: 0;
  display: none;
}
.sectionTwoQuote {
  height: 100vh;
  background-image: url(./img/first_section_hero.jpg);
  background-repeat: no-repeat;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: -140px;
  margin-left: 50px;
  position: absolute;
  left: 15px;
}
.sectionTwoQuote p {
  color: white;
}
.logo2 {
  position: absolute;
  margin-bottom: -90px;
  margin-left: 300px;
}
.vectorCircle {
  position: absolute;
  margin-bottom: -670px;
  left: 0;
}
/*SECTION TWO FORM*/

.headingTwo {
  margin-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
.Heading_two_text_one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Heading_two_text_one a {
  text-decoration: none;
  color: grey;
  margin-top: -5px;
}
.middle_text_two {
  margin-left: 100px;
  height: 110px;
  font-size: 0.7rem;
}
.middle_text_two p {
  color: grey;
}
.form_two {
  margin-left: 100px;
  margin-top: -35px;
  
}
.forms {
  height: 35px;
  width: 380px;
  border-radius: 5px;
  color: black;
  padding-left: 10px;
}
.forms:hover {
  border-color: rgb(0, 106, 255);
}
.terms_conditions {
  display: flex;
 
  margin-left: 100px;
  gap: 20px;
}
.terms_conditions a {
  margin-top: 20px;
}
.terms_conditions p {
  color: grey;
  cursor: pointer;
}
.terms_conditions p:hover {
  text-decoration: underline;
  color: black;
}
.register_btn {
  margin-top: 50px;
 
  
  
}
.register_btn a{
  text-decoration: none;
  color: white;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.reg_btn {
  margin-left: 100px;
  display: flex;
  margin-top: 15px;
  margin-right: 220px;
  height: 40px;
  background: rgb(38, 127, 250);
  border-radius: 10px;
  margin-top: 20px;
}
.reg_btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding-left: 130px;
  text-align: center;
}
.reg_btn:hover {
  background: rgb(35, 46, 253);
  transition: 600ms ease;
  cursor: pointer;
}
.or {
  margin-left: 100px;
  margin-right: 180px;
  display: flex;
  justify-content: center;
  height: 10px;
}
.google_reg {
  margin-left: 100px;
  margin-right: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  height: 30px;
  margin-top: 40px;
}
.google_reg:hover {
  border: 1px grey solid;
  border-radius: 10px;
  background: rgb(212, 211, 211);
}
/*SECTION THREE*/

.form_container_three {
  width: 710px;
}

.sectionThree {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  overflow-x: 0;
  display: none;
}
.sectionThreeQuote {
  height: 100vh;
  background-image: url(./img/first_section_hero.jpg);
  background-repeat: no-repeat;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: -140px;
  margin-left: 50px;
  position: absolute;
  left: 15px;
}
.sectionThreeQuote p {
  color: white;
}
.logo2 {
  position: absolute;
  margin-bottom: -90px;
  margin-left: 300px;
}
.vectorCircle {
  position: absolute;
  margin-bottom: -670px;
  left: 0;
}
/*SECTION THREE FORM*/
.headingThree {
  margin-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.Heading_three_text_one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Heading_three_text_one a {
  text-decoration: none;
  color: grey;
  margin-top: -5px;
}
.middle_text_three {
  margin-left: 100px;
  margin-right: 180px;
  font-size: 0.7rem;
}
.middle_text_three p {
  color: grey;
}
.form_three {
  margin-left: 100px;
  margin-right: 180px;
}
.save_btn {
  height: 40px;
  margin-left: 100px;
  margin-right: 220px;
  background: rgb(38, 127, 250);
  display: flex;
  border-radius: 10px;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}
.save_btn a {
  display: flex;
  justify-content: center;
  padding-left: 140px;
  text-decoration: none;
  color: white;
}
.save_btn:hover {
  background: rgb(35, 46, 253);
  transition: 600ms ease;
}
.info_secured {
  margin-left: 100px;
  margin-right: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}
.info_secured p {
  color: rgb(175, 174, 174);
}
/*SECTION FOUR*/
.form_container_four {
  width: 710px;
}

.sectionFour {
  display: flex;
  height: 100vh;
  max-width: 1280px;
  overflow-x: 0;
  display: none;
}
.sectionFourQuote {
  height: 100vh;
  background-image: url(./img/first_section_hero.jpg);
  background-repeat: no-repeat;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin-top: -140px;
  margin-left: 50px;
  position: absolute;
  left: 15px;
}
.sectionFourQuote p {
  color: white;
}
.logo2 {
  position: absolute;
  margin-bottom: -90px;
  margin-left: 300px;
}
.vectorCircle {
  position: absolute;
  margin-bottom: -670px;
  left: 0;
  display: none;
}
/*SECTION FOUR FORM*/
.headingFour {
  margin-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.Heading_four_text_one {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.Heading_four_text_one a {
  text-decoration: none;
  color: grey;
  margin-top: -5px;
}
.middle_text_four {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 180px;
}
.middle_text_four p {
  color: grey;
}
.form_four {
  margin-left: 100px;
  margin-right: 180px;
  margin-top: 50px;
}
/*POPUP*/
.popup{
  height: 100%;
  width: 100%;
  position: fixed;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;

}
.modal{
  
  height: 400px;
  width: 500px;
  
  background-color: aqua;
  border: 5px blue solid;
  border-radius: 30px;
  
}
.modal_btn{
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 180px;
  margin-right: 200px;
  cursor: pointer;
  text-align: center;
}
.modal_btn:hover{
  background-color: black;
  color: white;
}
.modal h1{
  text-align: center;
  margin-top: 100px;
}

/*POPUP TWO*/
.popup_two{
  background: grey;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}




.vratider{
  padding: 10px;
  margin-top: 150px;
  margin-left: -120px;
  border-radius: 8px;
  cursor: pointer;
  

  
  
}
/*SING IN*/
.sign_in_form{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/singinbackground.jpg);
  height: 100vh;
  display: none;
  
}
.signin_form{
  height: 100vh;
  
  
  
  background-repeat: no-repeat;
  margin-top: 100px
  
  
  
  
  
  ;
}
.singin_forms{
  height: 50px;
  width: 300px;
  border-radius: 10px;
  
  padding-left: 20px;
  display: block;
  
}
.signin_form a{
  text-decoration: none;
  padding: 10px;
  background-color: aqua;
  color: rgb(255, 255, 255);
  border-radius: 9px;
  border: 2px solid rgb(0, 201, 201);
  margin-left: 120px;
}
.signin_form h4{
  color: white;
  text-align: center;
}
.signin_form a:hover{
  background-color: rgb(1, 138, 138);
  transition: 300ms ease;
}